@use "../global" as *;

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px 0;
  border-top: solid 1px $color-white;
  &__title {
    @include font-style(24px !important, $color-white, 700);
    line-height: 1 !important;
    font-family: $font-orbit;
    text-transform: uppercase;
    margin: 0 !important;
  }
  &__list {
    list-style: none !important;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    li {
      padding: 0 !important;
    }
  }
}
