@use "../global" as *;
.page-wrapper.web-tips {
  &:before {
    background-image: url("/images/blog-background.jpg");
  }
}
.web-tips-template {
  .main-visual__inner {
    @include wide-pc {
      width: 80.41%;
    }
    @include tab {
      width: 84vw;
    }
  }
  .main-visual__header {
    @include tab {
      flex-direction: column;
      justify-content: center;
      transform: translateX(0);
    }
  }
  .main-visual__left {
    width: 45%;
    @include tab {
      width: 100%;
    }
  }
  .main-visual__right {
    width: 80rem;
    @include wide-pc {
      width: 800px;
    }
    @include tab {
      width: 100%;
    }
  }
  .first-image {
    width: 100%;
    aspect-ratio: 800/450;
    object-fit: cover;
  }
  h1 {
    @include font-style(3.2rem, $color-white, normal);
    line-height: 1.8;
    font-feature-settings: "palt";
    @include wide-pc {
      font-size: 32px;
    }
    @include tab {
      @include font-style(2.4rem, $color-white, normal);
      line-height: 1.5;
    }
  }
  a {
    text-decoration: none;
  }
  main {
    h2 {
      @include font-style(32px, $color-white, bold);
      background: linear-gradient(
        135deg,
        rgb(176, 7, 161) 0%,
        rgb(0, 93, 189) 100%
      );
      padding: 8px 16px;
      margin: 48px 0;
      line-height: 1.5;
      border-left: none;
      display: block;
      position: relative;
      @include tab {
        font-size: 3.2rem;
        padding: 0.8rem 1.6rem;
        margin: 4.8rem 0;
      }
      &:after {
        content: "";
        display: block;
        width: 24px;
        height: 16px;
        border-top: solid 16px #51004a;
        border-left: solid 24px transparent;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    h3 {
      @include font-style(28px, $color-navy, normal);
      line-height: 1.5;
      border-top: solid 1px $color-navy;
      border-bottom: solid 1px $color-navy;
      margin: 40px 0;
      padding: 8px 16px;
      @include tab {
        font-size: 2.8rem;
        margin: 4rem 0;
        padding: 0.8rem 1.6rem;
      }
    }
    h4 {
      @include font-style(24px, $color-navy, normal);
      line-height: 1.5;
      margin: 40px 0;
      @include tab {
        font-size: 2.4rem;
        margin: 4rem 0;
      }
    }
    p {
      @include font-style(16px, $color-navy, normal);
      margin: 24px 0;
      @include tab {
        font-size: 1.6rem;
        margin: 2.4rem 0;
      }
    }
    ul {
      list-style: disc inside;
      color: #333;
      li {
        font-size: 16px;
        font-weight: 400;
        padding: 16px 0;
        @include tab {
          font-size: 1.2rem;
          padding: 1.2rem 0;
        }
      }
    }
    blockquote {
      padding: 2%;
      position: relative;
      &:before {
        content: "“";
        @include font-style(6rem, #cccccc, 700);
        position: absolute;
        top: 2%;
        left: 2%;
        @include tab {
          font-size: 4rem;
        }
      }
      &:after {
        content: "”";
        @include font-style(6rem, #cccccc, 700);
        position: absolute;
        bottom: 8%;
        right: 2%;
        @include tab {
          font-size: 4rem;
        }
      }
      cite {
        font-size: 16px;
        @include tab {
          font-size: 1.2rem;
        }
      }
    }
    .box01 {
      position: relative;
      padding: 2.4rem 1.6rem;
      border: solid 3px #0c57bb;
      margin: 60px 0 40px 0;
      background-color: $color-white;
      .box-title {
        position: absolute;
        display: inline-block;
        top: -30px;
        left: -3px;
        padding: 5px 10px;
        font-size: 20px;
        line-height: 1;
        background: #0c57bb;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px 5px 0 0;
      }
    }
    .ctaButton {
      transform: translateY(0);
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(8%);
        transition: transform 0.3s ease;
      }
      a {
        background: linear-gradient(135deg, #008dc6 0%, #20b5aa 100%);
        padding: 3rem 0;
        filter: brightness(100%);
        transition: filter 0.3s ease;
        &:hover {
          filter: brightness(110%);
          transition: filter 0.3s ease;
        }
      }
    }
    .wp-block-columns {
      margin: 40px 0;
    }
    .blog-card {
      border: solid 2px #cccccc;
      margin: 40px 0;
      position: relative;
      &:after {
        content: "recommend";
        text-transform: uppercase;
        font-family: $font-orbit;
        padding: 4px 8px;
        background-color: #cccccc;
        @include font-style(16px, $color-dark, 700);
        position: absolute;
        top: 0;
        left: 0;
      }
      a {
        padding: 2rem;
        background-color: #f5f5f5;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
        transition: background-color 0.3s ease;
        @include tab {
          flex-direction: column;
        }
        &:hover {
          transition: background-color 0.3s ease;
          background-color: #edf7fe;
        }
      }
      .blog-card-thumbnail {
        width: 30%;
        @include tab {
          width: 100%;
        }
      }
      .blog-card-content {
        word-wrap: break-word;
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .blog-card-title {
        @include font-style(20px, #008dc6, 700);
        @include tab {
          font-size: 2rem;
        }
      }
      .blog-card-excerpt {
        @include font-style(14px, #555555, normal);
        line-height: 1.5;
      }
    }
  }
  #ez-toc-container {
    padding: 4% 8% 4% 8% !important;
    ul {
      li {
        padding: 1% !important;
      }
    }
  }
  .ez-toc-title-container {
    font-family: $font-orbit;
  }
  .ez-toc-list {
    padding: 4% !important;
  }
  .table-row {
    table {
      border: solid 1px #cccccc;
    }
    th {
      width: 70%;
      border: solid 1px #cccccc;
      line-height: 1.5;
      &:first-child {
        width: 30%;
        background-color: #eef7fb;
        @include tab {
          width: 100%;
          display: block;
        }
      }
      @include tab {
        width: 100%;
        display: block;
      }
    }
    td {
      width: 70%;
      border: solid 1px #cccccc;
      padding: 1%;
      line-height: 1.5;
      &:first-child {
        width: 30%;
        background-color: #eef7fb;
        color: #0693e3;
        @include tab {
          width: 100%;
          display: block;
        }
      }
      @include tab {
        width: 100%;
        display: block;
      }
    }
  }
}
.post-type-archive-web-tips,
.tax-class {
  .media01 {
    padding: 1.6rem 1rem;
    border: solid 1px #cccccc;
    background-color: transparent;
    transition: background-color 0.3s ease;
    margin-top: 3rem;
    &:first-child {
      margin-top: 0;
    }
    @include wide-pc {
      padding: 16px 0;
    }
    &:hover {
      background-color: rgba(0, 4, 56, 0.1);
      transition: background-color 0.3s ease;
      .media01__thumbnail {
        &:after {
          opacity: 0.7;
          transform: scale(1);
          transition: transform 0.3s ease, opacity 0.3s ease;
        }
        img {
          transform: scale(1.4) rotateZ(15deg);
          filter: brightness(140%);
          transition: transform 0.3s ease, filter 0.3s ease;
        }
        .media01__thumbnail-overlay {
          opacity: 1;
          transition: opacity 0.3s ease;
        }
      }
      .media01__title {
        &:before {
          width: 100%;
          transition: width 0.5s ease;
        }
      }
      .term {
        background-color: $color-pink;
        transition: background-color 0.3s ease;
      }
    }
    &__thumbnail {
      aspect-ratio: 268/150;
      overflow: hidden;
      position: relative;
      object-fit: cover;
      @include tab {
        width: 100%;
        margin-bottom: 2.4rem;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000;
        opacity: 0;
        transform: scale(0.8);
        transition: transform 0.5s ease, opacity 0.5s ease;
      }
      img {
        transform: scale(1) rotateZ(0deg);
        filter: brightness(100%);
        transition: transform 0.3s ease, filter 0.3s ease;
      }
      &-overlay {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        font-family: $font-orbit;
        @include font-style(1.8rem, $color-white, 400);
        transition: opacity 0.3s ease;
        z-index: 10;
        @include wide-pc {
          font-size: 18px;
        }
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
      @include tab {
        flex-direction: column-reverse;
        gap: 1rem;
        align-items: flex-start;
      }
    }
    &__title {
      color: $color-navy;
      margin-bottom: 0rem;
      position: relative;
      border-left: none;
      padding-left: 0;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-weight: bold;
    }
    &__text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      -webkit-box-flex: 1;
    }
    time {
      color: $color-navy;
      font-weight: bold;
    }
  }
  a {
    text-decoration: none;
  }
}
//カスタムタクソノミーのタームスタイル
.term {
  display: block;
  width: fit-content;
  @include font-style(1.4rem, $color-white, 900);
  background-color: $color-navy;
  padding: 0.8rem 1.6rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: $color-pink;
    transition: all 0.3s ease;
  }
  @include tab {
    font-size: 1.2rem;
  }
}

//web-tips用サイドバー
.sidebar {
  @include tab {
    margin-top: 4rem;
  }
  &__widget {
    margin-top: 60px;
    @include tab {
      margin-top: 6rem;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    font-family: $font-orbit;
    margin-bottom: 0;
    color: $color-navy;
    font-weight: bold;
    border-left: solid 4px $color-navy;
    @include tab {
      border-left: solid 2px $color-navy;
    }
  }
  .wpp-list {
    // margin-top: 40px;
    // @include tab{
    //     margin-top: 4rem;
    // }
    a {
      display: block;
    }
    li {
      margin-top: 24px;
      position: relative;
      @include tab {
        margin-top: 2.4rem;
      }
      &:first-child {
        &:after {
          content: "1";
          @include font-style(24px, $color-white, 700);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: rgba(204, 161, 31, 0.9);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &:nth-child(2) {
        &:after {
          content: "2";
          @include font-style(24px, $color-white, 700);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: rgba(177, 176, 180, 0.9);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &:nth-child(3) {
        &:after {
          content: "3";
          @include font-style(24px, $color-white, 700);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: rgba(179, 112, 54, 0.9);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .wpp-post-title {
    @include font-style(14px, $color-navy, 400);
    line-height: 1.5;
    margin-top: 16px;
    @include tab {
      margin-top: 1.6rem;
    }
  }
  // &__term-list{
  //     margin-top: 40px;
  //     @include tab{
  //         margin-top: 4rem;
  //     }
  // }
  &__term-item {
    width: 100%;
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
    @include tab {
      margin-top: 2rem;
    }
  }
}
//ページネーション
.pagenation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
  gap: 2rem;
  &__item {
    a {
      @include font-style(16px, $color-trans-bg, 700);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem;
      background-color: $color-white;
      border-radius: 100%;
      border: solid 1px $color-trans-bg;
      transition: all 0.3s ease;
      line-height: 1;
      &:hover {
        color: $color-white;
        background-color: $color-trans-bg;
        transition: all 0.3s ease;
      }
      &.current {
        color: $color-white;
        background-color: $color-trans-bg;
      }
    }
  }
}
