@use "../global" as *;
//-------------------------------
//  flex-column
//-------------------------------
.one-column {
  @include flex-width(1);
  @include tab {
    width: 100%;
  }
}
.two-column {
  @include flex-width(2);
  @include tab {
    width: 100%;
  }
}
.three-column {
  @include flex-width(3);
  @include tab {
    width: 100%;
  }
}
.four-column {
  // width: 42.808%;
  @include flex-width(4);
  @include tab {
    width: 100%;
  }
}
.five-column {
  // width: 42.808%;
  @include flex-width(5);
  @include tab {
    width: 100%;
  }
}
.six-column {
  @include flex-width(6);
  @include tab {
    width: 100%;
  }
}
.seven-column {
  @include flex-width(7);
  @include tab {
    width: 100%;
  }
}
.eight-column {
  // width: 57.106%;
  @include flex-width(8);
  @include tab {
    width: 100%;
  }
}
.nine-column {
  @include flex-width(9);
  @include tab {
    width: 100%;
  }
}
.ten-column {
  // width: 57.106%;
  @include flex-width(10);
  @include tab {
    width: 100%;
  }
}
.eleven-column {
  @include flex-width(11);
  @include tab {
    width: 100%;
  }
}
.twelve-column {
  @include flex-width(12);
  @include tab {
    width: 100%;
  }
}
//-------------------------------
//  br
//-------------------------------
.only-tab {
  display: none;
  @include tab {
    display: block;
  }
}
//-------------------------------
//  blur
//-------------------------------
.glass-container {
  width: 70%;
  height: 60%;
  position: fixed;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  gap: 20px;
  // border-radius: 10px;
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.9) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}
//-------------------------------
//  margin
//-------------------------------
.mt-8 {
  margin-top: 0.8rem;
}
.mt-16 {
  margin-top: 1.6rem;
}
.mt-24 {
  margin-top: 2.4rem;
}
.mt-32 {
  margin-top: 3.2rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-48 {
  margin-top: 4.8rem;
}
.mt-56 {
  margin-top: 5.6rem;
}
.mt-64 {
  margin-top: 6.4rem;
}
//-------------------------------
//  background
//-------------------------------
.bg-white {
  background-color: $color-white;
  padding: 20px;
  border-radius: 8px;
  @include pc {
    padding: 2rem;
  }
}

.bg-glass {
  padding: 16px;
  border-radius: 2px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
  border-right: 1px rgba(40, 40, 40, 0.35) solid;
  transition: background-color 0.4s ease;
}

.has-white-color {
  color: $color-white !important;
}
