.cursor{
    position: absolute;
    top:  -4px;
    left: -4px;
    // transform: scale(0.8);
    z-index: 1001;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: $color-white;
    transition: 0.5s cubic-bezier(0.075,0.82,0.165,1) transform;
    pointer-events: none;
    @include tab{
        display: none;
    }
}
.follower{
    position: absolute;
    top: -20px;
    left: -20px;
    // transform: translate(4px, 4px);
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(198, 0, 105, 0.5);
    transition: 1s cubic-bezier(0.075,0.82,0.165,1) 0.001s transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) background;
    pointer-events: none;
    @include tab{
        display: none;
    }
    &.is-hover{
        background: rgba(86, 0, 198, 0.5);
        width: 120px;
        height: 120px;
        top: -60px;
        left: -60px;
    }
}