.web-tips-template{
    .main-visual__inner{
        @include wide-pc{
            width: 80.41%;
        }
        @include tab{
            width: 84vw;
        }
    }
    .main-visual__header{
        @include tab{
            flex-direction: column;
            justify-content: center;
            transform: translateX(0);
        }
    }
    .main-visual__left{
        width: 45%;
        @include tab{
            width: 100%;
        }
    }
    .main-visual__right{
        width: 80rem;
        @include wide-pc{
            width: 800px;
        }
        @include tab{
            width: 100%;
        }
    }
    .first-image{
        width: 100%;
        aspect-ratio: 800/450;
        object-fit: cover;
    }
    h1{
        @include font-style(3.2rem, $color-white, normal);
        line-height:1.8;
        font-feature-settings: "palt";
        @include wide-pc{
            font-size: 32px;
        }
        @include tab{
            @include font-style(2.4rem, $color-white, normal);
            line-height: 1.5;
        }
    }
    a{
        text-decoration: none;
    }
    main{
        h2{
            @include font-style(32px, $color-white, bold);
            background: linear-gradient(135deg,rgb(176,7,161) 0%,rgb(0,93,189) 100%);
            padding: 8px 16px;
            margin: 48px 0;
            line-height: 1.5;
            border-left: none;
            display: block;
            position: relative;
            @include tab{
                font-size: 3.2rem;
                padding: 0.8rem 1.6rem;
                margin: 4.8rem 0;
            }
            &:after{
                content: "";
                display: block;
                width: 24px;
                height: 16px;
                border-top: solid 16px #51004a;
                border-left: solid 24px transparent;
                position: absolute;
                top: 100%;
                left: 0;
            }
        }
        h3{
            @include font-style(28px, $color-navy, normal);
            line-height:1.5;
            border-top: solid 1px $color-navy;
            border-bottom: solid 1px $color-navy;
            margin: 40px 0;
            padding: 8px 16px;
            @include tab{
                font-size: 2.8rem;
                margin: 4rem 0;
                padding: 0.8rem 1.6rem;
            }
        }
        h4{
            @include font-style(24px, $color-navy, normal);
            line-height:1.5;
            margin: 40px 0;
            @include tab{
                font-size: 2.4rem;
                margin: 4rem 0;
            }
        }
        p{
            @include font-style(16px, $color-navy, normal);
            margin: 24px 0;
            @include tab{
                font-size: 1.6rem;
                margin: 2.4rem 0;
            }
        }
        ul{
            list-style: disc inside;
            color: #333;
            li{
                font-size: 16px;
                font-weight: 400;
                padding: 16px 0;
                @include tab{
                    font-size: 1.2rem;
                    padding: 1.2rem 0;
                }
            }
        }
        blockquote{
            padding: 2%;
            position: relative;
            &:before{
                content: '“';
                @include font-style(6rem, #cccccc, 700);
                position: absolute;
                top: 2%;
                left: 2%;
                @include tab{
                    font-size: 4rem;
                }
            }
            &:after{
                content: '”';
                @include font-style(6rem, #cccccc, 700);
                position: absolute;
                bottom: 8%;
                right: 2%;
                @include tab{
                    font-size: 4rem;
                }
            }
            cite{
                font-size: 16px;
                @include tab{
                    font-size: 1.2rem;
                }
    
            }
        }
        .box01 {
            position: relative;
            padding: 2.4rem 1.6rem;
            border: solid 3px #0C57BB;
            margin: 60px 0 40px 0;
            background-color: $color-white;
            .box-title{
                position: absolute;
                display: inline-block;
                top: -30px;
                left: -3px;
                padding: 5px 10px;
                font-size: 20px;
                line-height: 1;
                background: #0C57BB;
                color: #ffffff;
                font-weight: bold;
                border-radius: 5px 5px 0 0;
            }
        }
        .ctaButton{
            transform: translateY(0);
            transition: transform 0.3s ease;
            &:hover{
                transform: translateY(8%);
                transition: transform 0.3s ease;
            }
            a{
                background: linear-gradient(135deg,#008DC6 0%,#20B5AA 100%);
                padding: 3rem 0;
                filter: brightness(100%);
                transition: filter 0.3s ease;
                &:hover{
                    filter: brightness(110%);
                    transition: filter 0.3s ease;
                }
            }
        }
        .wp-block-columns{
            margin: 40px 0;
        }
        .blog-card{
            border: solid 2px #cccccc;
            margin: 40px 0;
            position: relative;
            &:after{
                content: "recommend";
                text-transform: uppercase;
                font-family: $font-orbit;
                padding: 4px 8px;
                background-color: #cccccc;
                @include font-style(16px, $color-dark, 700);
                position: absolute;
                top: 0;
                left: 0;
            }
            a{
                padding: 2rem;
                background-color: #f5f5f5;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 2rem;
                transition: background-color 0.3s ease;
                @include tab{
                    flex-direction: column;
                }
                &:hover{
                    transition: background-color 0.3s ease;
                    background-color: #EDF7FE;
                }
            }
            .blog-card-thumbnail{
                width: 30%;
                @include tab{
                    width: 100%;
                }
            }
            .blog-card-content{
                word-wrap: break-word;
                flex: 1;
                min-width: 0;
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
            .blog-card-title{
                @include font-style(20px, #008DC6, 700);
                @include tab{
                    font-size: 2rem;
                }
            }
            .blog-card-excerpt{
                @include font-style(14px, #555555, normal);
                line-height: 1.5;
            }
        }
    }
    #ez-toc-container{
        padding: 4% 8% 4% 8% !important;
        ul{
            li{
                padding: 1% !important;
            }
        }
    }
    .ez-toc-title-container{
        font-family: $font-orbit;
    }
    .ez-toc-list{
        padding: 4% !important;
    }
    .table-row{
        table{
            border: solid 1px #cccccc;
        }
        th{
            width: 70%;
            border: solid 1px #cccccc;
            line-height: 1.5;
            &:first-child{
                width: 30%;
                background-color: #EEF7FB;
                @include tab{
                    width: 100%;
                    display: block;
                }
            }
            @include tab{
                width: 100%;
                display: block;
            }
        }
        td{
            width: 70%;
            border: solid 1px #cccccc;
            padding: 1%;
            line-height: 1.5;
            &:first-child{
                width: 30%;
                background-color: #EEF7FB;
                color: #0693e3;
                @include tab{
                    width: 100%;
                    display: block;
                }
            }
            @include tab{
                width: 100%;
                display: block;
            }
        }
        
    }
}