$wide-pc: 1930px; //ワイドPC
$pc: 1200px; // PC
$tab: 768px; // タブレット
$sp: 428px; // スマホ

$pc-size: 1366;
$tab-size: 768;

// メディアクエリー
@mixin wide-pc {
  @media (min-width: ($wide-pc)) {
    @content;
  }
}
@mixin pc-tab {
  @media (min-width: (769px)) and (max-width: ($pc)) {
    @content;
  }
}
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
//コンテンツ幅1168pxに対してのflex-boxの横幅(%指定)
$flex-margin: 2.74%;
$flex-item: 5.822%;
@mixin flex-width($flex-itemNUm: 4) {
  $width: ($flex-item * $flex-itemNUm) + ($flex-margin * ($flex-itemNUm - 1));
  width: $width;
}

/* フォントファミリー*/
$font: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
  Meiryo, sans-serif;
$font-orbit: "Orbitron", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
  "Hiragino Sans", Meiryo, sans-serif;

/*フォントカラー*/
$color-dark: #333333;
$color-border: #fbfbff;
$color-trans-bg: #050523;
$color-white: #ffffff;
$color-pink: #c60069;
$color-navy: #000438;

$ease-cb: cubic-bezier(0.4, 0, 0.2, 1);
$ease-cb-2: cubic-bezier(0.19, 1, 0.22, 1);
$ease-cb-3: cubic-bezier(0.77, 0, 0.175, 1);
$ease-cb-4: cubic-bezier(0.99, 1, 0.92, 1);
$ease-cb-5: cubic-bezier(0.96, 0.165, 0, 0.655);

/*font-size, font-color, line-height指定*/
@mixin font-style($font-size, $font-color, $font-weight) {
  font-size: $font-size;
  color: $font-color;
  font-weight: $font-weight;
}

//-------------------------------
//  All-page-common-css
//-------------------------------
html {
  /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
  font-size: calc(10 / 1920 * 100) + vw;
  // @include pc{
  //     font-size: calc(10 / 1200 * 100) + vw;
  // }
  @include tab {
    font-size: calc(10 / 768 * 100) + vw;
  }
  @include sp {
    font-size: calc(10 / 428 * 100) + vw;
  }
}
body {
  font-size: 1.6rem;
  font-family: $font;
  letter-spacing: 0.1em;
  overflow-x: hidden;
  position: relative;
  cursor: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @include tab {
    cursor: auto;
  }
}
body::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
a {
  cursor: none;
}
