$wide-pc: 1930px; //ワイドPC
$pc: 1200px; // PC
$tab: 960px; // タブレット
$sp: 428px; // スマホ

$pc-size: 1366;
$small: 768px;

// メディアクエリー
@mixin wide-pc {
  @media (min-width: ($wide-pc)) {
    @content;
  }
}
@mixin pc-tab {
  @media (min-width: (769px)) and (max-width: ($pc)) {
    @content;
  }
}
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin small {
  @media (max-width: ($small)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
//コンテンツ幅1168pxに対してのflex-boxの横幅(%指定)
$flex-margin: 2.74%;
$flex-item: 5.822%;
@mixin flex-width($flex-itemNUm: 4) {
  $width: ($flex-item * $flex-itemNUm) + ($flex-margin * ($flex-itemNUm - 1));
  width: $width;
}

/* フォントファミリー*/
$font: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-orbit: "Orbitron", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

/*フォントカラー*/
$color-dark: #333333;
$color-border: #fbfbff;
$color-trans-bg: #050523;
$color-white: #ffffff;
$color-pink: #c60069;
$color-navy: #000438;

$ease-cb: cubic-bezier(0.4, 0, 0.2, 1);
$ease-cb-2: cubic-bezier(0.19, 1, 0.22, 1);
$ease-cb-3: cubic-bezier(0.77, 0, 0.175, 1);
$ease-cb-4: cubic-bezier(0.99, 1, 0.92, 1);
$ease-cb-5: cubic-bezier(0.96, 0.165, 0, 0.655);

/*font-size, font-color, line-height指定*/
@mixin font-style($font-size, $font-color, $font-weight) {
  font-size: $font-size;
  color: $font-color;
  font-weight: $font-weight;
}
// @view-transition {
//   navigation: auto;
// }
@keyframes fade-out {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.5;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes scale-up {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 1.5;
    opacity: 0;
  }
}
@keyframes scale-down {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
.transition-active {
  view-transition-name: banner-image;
}
// ::view-transition-old(root) {
//   animation: fade-out 1s forwards;
// }
// ::view-transition-new(root) {
//   animation: fade-in 1s forwards;
// }
::view-transition-group(banner-image) {
  transform-origin: 0 0;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.75, 0.11, 0.25, 0.91);
}
// html.currentArchive.toBlog::view-transition-old(banner-image) {
//   animation: scale-up 30s forwards;
//   transform-origin: center;
//   // animation-duration: 1s;
//   // mix-blend-mode: plus-lighter;
// }
// html.currentArchive.toBlog::view-transition-new(banner-image) {
//   animation: scale-up 30s forwards;
//   transform-origin: center;
//   // animation-duration: 1s;
//   // mix-blend-mode: plus-lighter;
// }

// html.currentBlog.toArchive::view-transition-old(banner-image) {
//   animation: scale-down 30s forwards;
//   // animation-duration: 1s;
//   // mix-blend-mode: plus-lighter;
// }

//-------------------------------
//  All-page-common-css
//-------------------------------
:root {
  --wp-preset--color--blue: #255dd8;
  --wp-preset--color--darkblue: #1e889b;
  --wp-preset--color--lightblue: #b9eaf2;
  --wp-preset--color--lightblue-2: #d6e1ff;
  --wp-preset--color--black: #333333;
}
.has-lightblue-background-color {
  background-color: var(--wp-preset--color--lightblue) !important;
}
.has-black-color {
  color: var(--wp-preset--color--black) !important;
}
.has-blue-color {
  color: var(--wp-preset--color--blue) !important;
}
.has-darkblue-color {
  color: var(--wp-preset--color--darkblue) !important;
}
.has-lightblue-color {
  color: var(--wp-preset--color--lightblue) !important;
}
html {
  /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
  font-size: calc(10 / 1920 * 100) + vw;
  // overflow: hidden;
  // @include pc {
  //   font-size: calc(10 / 1200 * 100) + vw;
  // }
  @include pc {
    font-size: calc(10 / 1200 * 100) + vw;
  }
  @include tab {
    font-size: calc(10 / 960 * 100) + vw;
  }
  @include sp {
    font-size: calc(10 / 428 * 100) + vw;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0920;
}

::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 10px;
}
body {
  font-size: 1.6rem;
  font-family: $font;
  letter-spacing: 0.1em;
  position: relative;
  overflow-x: clip;
  cursor: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  &.front-page {
    overflow: hidden;
  }
  @include tab {
    cursor: auto;
  }
}
body::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  // display: none;
}
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
a {
  cursor: none;
}
.gatsby-image-wrapper {
  width: 100%;
  height: 100%;
  .screen & {
    overflow-y: scroll;
  }
  .web-tips article .singleContents & {
    width: auto;
    height: 100%;
  }
}
pre {
  margin: 2em 0;
}
strong {
  font-weight: 700 !important;
}
video {
  width: 100%;
}
img[src$=".svg"] {
  width: 100% !important;
}
